/* Root */

:root {
    
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    scroll-behavior: smooth;
}

body {
    padding: 1rem 3rem 0rem 3rem;
}

/* Home Page Styling */



/* Job Select Button */

.btn.btn-primary{
    background: rgb(255,255,255);
    color: rgb(0,0,0);
    border-color: rgb(0,0,0);
}

.btn.btn-primary:hover{
    background: rgb(174,181,188);
    color: rgb(0, 0, 0);
    border-color: rgb(0,0,0);
}

/* Login page */

.login-clean {
    background: #f1f7fc;
    padding: 80px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}
  
/* User Stats Page */



/* Features Page */

.features-clean {
    color: #313437;
    background-color: #fff;
    padding-bottom: 30px;
}

@media (max-width:767px) {
.features-clean {
    padding-bottom: 10px;
}
}

.features-clean p {
    color: #7d8285;
}

.features-clean h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width:767px) {
.features-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
}
}

.features-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 60px;    
}

@media (max-width:767px) {
.features-clean .intro {
    margin-bottom: 40px;
}
}

.features-clean .item {
    min-height: 100px;
    padding-left: 80px;
    margin-bottom: 40px;
}

@media (max-width:767px) {
.features-clean .item {
    min-height: 0;
}
}

.features-clean .item .name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    color: inherit;
}

.features-clean .item .description {
    font-size: 15px;
    margin-bottom: 0;
}

.features-clean .item .icon {
    font-size: 40px;
    color: #1485ee;
    float: left;
    margin-left: -65px;
}











