<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"> Hour Logger Application </a>
    <div class="navbar">
      <div class="navbar-nav">
        <a class="" href="/"> Home </a>
        <a class="" href="#"> Home </a>
        <a class="" href="#"> Link </a>
        <a class="" href="#"> Link </a>
        <a class="" href="#"> Link </a>
      </div>
    </div>
  </nav>
</header>