<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Hour Logger Application</a>
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="navbar-nav">

      <li class="nav-item active"> <a class="nav-link" href="/"> Home </a> </li>

      <li class="nav-item"> <a class="nav-link" href="#"> Features </a> </li>

      <li class="nav-item"> <a class="nav-link" href="#"> Pricing </a> </li>

      <% if(user) { %>
        <a class="nav-link" href="/create-job"> Add Job </a>
        <a class="nav-link" href="/logout"> <%= user.email %> --Logout-- </a>
      <% } %>
      <% if(!user) { %>
        <li class="nav-item"> <a class="nav-link" href="/login"> Login/Register </a></li>
      <% } %>

    </ul>

  </div>
</nav>